{% extends "network/layout.html" %}

{% block body %}


    <div id="new-post">
        <div>
            <h4>New Post</h4>
            <form id="new-post-form">
                <!-- {% csrf_token %} -->
                <div>
                    <textarea name="text"></textarea>
                </div>
                <div>
                    <input class = "submit-btn" type="submit" value="Post">
                </div>
                
            </form>
        </div>
    </div>
    <div id="user-profile-view">
        <div id="profile-info"></div>
        <div id="user-posts"></div>
        <div id="follow"></div>

    </div>

    <div>
        <div id="all-posts"> </div>
        <div id="navigation"> </div>
    </div>



{% endblock %}